* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // font-family: "Open Sans", sans-serif;
}
button {
  outline: none;
  border: none;
}

* {
  // font-family: "Space Grotesk", sans-serif;
  // font-family: "Orbitron", sans-serif !important;
}
